
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
anaconda-project 0.10.2 requires ruamel-yaml, which is not installed.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
daal4py 2021.5.0 requires daal==2021.4.0, which is not installed.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.
sphinx 4.4.0 requires docutils<0.18,>=0.14, but you have docutils 0.20.1 which is incompatible.
aiohttp 3.8.1 requires charset-normalizer<3.0,>=2.0, but you have charset-normalizer 3.3.2 which is incompatible.
bdateutil 0.1 requires python-dateutil==2.2, but you have python-dateutil 2.8.2 which is incompatible.
botocore 1.24.32 requires urllib3<1.27,>=1.25.4, but you have urllib3 2.1.0 which is incompatible.
comparar-fundos-br 0.0.7 requires pandas<2.0.0,>=1.4.3, but you have pandas 2.2.0 which is incompatible.
comparar-fundos-br 0.0.7 requires seaborn<0.12.0,>=0.11.2, but you have seaborn 0.12.2 which is incompatible.
distributed 2022.2.1 requires dask==2022.02.1, but you have dask 2024.1.1 which is incompatible.
httpx 0.23.3 requires rfc3986[idna2008]<2,>=1.3, but you have rfc3986 2.0.0 which is incompatible.
python-bcb 0.1.8 requires lxml<5.0.0,>=4.9.1, but you have lxml 5.1.0 which is incompatible.
python-bcb 0.1.8 requires pandas<2.0.0,>=1.4.4, but you have pandas 2.2.0 which is incompatible.
stack-data 0.6.3 requires executing>=1.2.0, but you have executing 0.8.3 which is incompatible.

textblob==0.17.1
times==0.7

tqdm==4.66.1
tradingeconomics==4.3.4
trio==0.23.2
trio-websocket==0.11.1
twine==4.0.2

typeguard==4.1.5
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.0.1
urllib3==2.1.0
utils==1.0.2
varname==0.8.3
visions==0.7.5
wasmtime==12.0.0
webencodings==0.5.1
Werkzeug==3.0.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.9.3
workalendar==17.0.0
workdays==1.4
wsproto==1.2.0
xlwings==0.24.9
yahooquery==2.3.2
ydata-profiling==4.6.4
yfinance==0.1.96
zict==2.0.0
zipp==3.17.0
